body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: bold;

	&:focus {
		outline: none;	
	}

	&:link,
	&:visited,
	&:hover,
	&:active {
		color: #3b5998;
	}

	&:hover {
		text-decoration: underline;
	}

	&.btn {
		display: block;
		padding: 5px 10px;
		border-radius: 3px;
		background-color: #F7F8F9;
		border: thin solid gray;
		color: black;

		&:hover {
			text-decoration: none;
			background-color: #dcdcdc;
		}
	}
}

input {
	&.btn {
		display: block;
		padding: 5px 10px;
		border-radius: 3px;
		background-color: #F7F8F9;
		border: thin solid gray;
		color: black;
		font-weight: bold;
		font-size: 13px;
		cursor: pointer;

		&:hover {
			text-decoration: none;
			background-color: #dcdcdc;
		}
	}
}

select, input.textbox, textarea {
	margin-left: 15px;
	width: 300px;	

	&.destination {
		margin: 0 0 10px 0;
	}
}

select.small {
	margin-left: 0px;
	width: 142px;	
}