$facebook_theme_color: #425E9C;

#status_updater,
#write_message {
	height: 50px;
	margin: 0px 0px 10px 0px;
}

#status_updater {
	width: 730px;
}

#write_message {
	width: 100%;
}

#status_bar {
	background-color: $facebook_theme_color;
	text-align: left;
	padding: 10px 0px 10px 0px;

	a {
		color: #FFF;
		padding: 5px 10px;

		&:first-child {
			margin-left: -10px;
		}

		&:hover {
			background-color: #3a548b;
			text-decoration: none;
		}
	}
}

#profile_image {
	border: thin solid #CCCCCC;
	padding: 5px 5px 5px 5px;
	width: 150px;
	height: 200px;
}

#profile_image img {
	width: 150px;
	height: 200px;
}

#profile_pic_thumbnail {
	border: thin solid #000;
	background-color: #CCCCCC;
	margin-top: 5px;
}

#profile_pic_thumbnail, #profile_pic_thumbnail img {
	width: 30px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	margin-right: 10px;
}

#wall {
	width: 730px;	
}

#friends_widget {
	.listing.user {
		width: auto;
	}
}