@import "variables";
@import "mixins";

html,
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
}

a {
	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

nav {
	&.main {
		background-color: $purple;
		color: $white;

		ul {
			li {
				a {
					display: block;
					padding: 10px;
					color: $white;

					&:hover,
					&.current {
						background-color: $yellow;
						color: $purple;
					}

					.fa-cog {
						font-size: 17px;
					}
				}
			}

			&:first-child {
				text-transform: uppercase;
			}

			&:nth-child(2) {
				text-transform: capitalize;
			}
		}
	}
}

ul {
	&.no_styles {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

footer {
	text-align: center;
}