@import "variables";
@import "mixins";

.post_type_3 {
	.left_part {
		// width: 668px;
	}

	div#profile_pic_thumbnail {
		margin-top: -5px;
	}

	#profile_pic_thumbnail {
		margin-top: 0;
	}
}

.album_thumb {
	width: 198px;
	border: thin solid #ccc;
	background-color: #FFF;
	margin-bottom: 10px;

	img {
		width: 198px;
		padding: 1px;
	}

	div {
		padding: 5px;

		&.img_container {
			padding: 0;
			margin: 1px;
			width: 196px;
			height: 196px;
			text-align: center;
			background-color: #000;

			img {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&:hover {
		border: thin solid gray;
		text-decoration: none;
		color: #000 !important;
	}
}

.picture_gallery,
.album_gallery {
	.album_thumb {
		float: left;
		margin-left: 10px;

		&:nth-child(1),
		&:nth-child(5n) {
			margin-left: 0;
		}
	}
}

.comments {
	padding: 30px 0 10px 40px;
	margin: 5px -10px 0 -10px;
	/*background-color: #cdcecf;*/
}

.comment {
	padding-bottom: 15px;

	.post_operations {
		margin-top: 5px;
	}

	.post_actions {
		margin-right: 5px;
	}
}

.delete_post {
	width: 15px;
	height: 15px;
	background: url("../../../images/kn/close.png") 0 0 / 15px 15px no-repeat;

	span {
		display: none;
	}
}

.comment_posting_section {
	margin-top: 5px;

	input[type=text] {
		width: 500px;
		height: 25px;
	}
}

.caption {
	padding: 5px 0;

	& + a img {
		max-width: 650px;
	}
}

.automatically_generated_text {
	color: #9197a3;
}

.shared_content {
	border-left: 3px solid #9197a3;
	padding-left: 10px;
	margin-bottom: 20px;
}

.site_title {
	font-size: 20px;
}

.img_container {
	background-color: $gray;

	img {
		max-width: 910px;
	}
}