# Disallow viewing of .htaccess files
<Files .htaccess>
order allow,deny
deny from allow
</Files>

# Redirecting to custom File not found page locally
ErrorDocument 404 /projects/internal/TSN2/web/public/filenotfound.php

# Redirecting to custom File not found page on staging
# ErrorDocument 404 /projects/internal/thesocialnetwork/public/filenotfound.php

# Disabling directory listings
IndexIgnore *