#profile_pic_thumbnail {
	border: thin solid #000;
	background-color: #CCCCCC;
}

#profile_pic_thumbnail, #profile_pic_thumbnail img {
	width: 30px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	margin-right: 10px;
}